<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars Rental - Home</title>
</head>
<body>
    <h1>Hello World, This is my new HOME for Car Rentals Website  ! we're excited to welcome you here</h1>
    <h2>Available Cars</h2>
    <ul>
        <li>Toyota Camry - $40/day</li>
        <li>Honda Civic - $35/day</li>
        <li>Ford Mustang - $80/day</li>
    </ul>

    <a href="/about">About Us</a>
</body>
</html>
